.app{
    background-image: url(../johannes-plenio-E-Zuyev2XWo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}